#app {
  margin: auto;
  max-width: 960px;
}

.section-content {
  padding: 0 30px;
}

.buttons-line {
  margin-top: 10px;
  text-align: right;
}

.buttons-line > button:not(:first-child) {
  margin-left: 10px;
}

.workspace-list-item-meta:not(.ready) {
  opacity: 0.5;
}

.ant-page-header-heading-extra {
  position: relative;
  top: 8px;
}
