#app {
  margin: auto;
  max-width: 960px;
}

.section-content {
  padding: 0 30px;
}

.ant-page-header-heading-extra {
  position: relative;
  top: 8px;
}

.workspace-list-item-meta:not(.ready) {
  opacity: 0.5;
}

.workspace-list-item-meta .pull-merge-request {
  margin-left: 4px;
}

.workspace-list-item-meta .pull-merge-request a {
  color: rgba(0, 0, 0, 0.45);
}

.workspace-list-item-meta .pull-merge-request a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.workspace-list-item-meta .pull-merge-request a.merged,
.workspace-list-item-meta .pull-merge-request a.closed {
  text-decoration: line-through;
}

.ant-alert {
  margin-bottom: 10px;
}

.buttons-line {
  margin-top: 10px;
  text-align: right;
}

.buttons-line > button:not(:first-child) {
  margin-left: 10px;
}
